NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/roboblogs
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
COOKIE_EXPIRE=30

CLIENT_URL=http://localhost:5173

# Email configuration (Newsletter)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
